.timer {
  height: 500px;
  width: 500px;
  border: 5px solid white;
  margin-top: 30px;
  padding: 30px;
  /*padding-top: 100px;*/
}

.inTheTimer {
  display: inline-block;
  vertical-align: middle;
  padding-top: 190px;
}

#theTimer {
  color: white;
  background-color: black;
}
